.nav-link:hover{
    color: orangered;
}
.nav-link{
    color: rgb(134, 134, 134);
    font-size: 14px;
    padding: 7px;
}
.black{
    color: black;
}
.gray {
    color: gray;
}

.sizecatolog{
    width: 100px;
    height: 45px;
    border-radius: 10px;
    background-color: #ff6200;
    border: 0px;
}

.sizeinput{
    height: 45px;
    border-radius: 10px;
}
.buttonstyle{
    padding: 0px;
    border: 0px;
    background-color: white;
}
.ots {
    padding: 0px;
    margin: 0px;
}
.mr-320{
    margin-right: 320px;
}

.link{
    color: gray;
    text-decoration: none;
}
.linkh{
    color: gray;
    text-decoration: none;
}
.link:hover, .linkwithline:hover{
    color:orangered;
}
.linkh:hover{
    color: white;
}
.fslink{
    font-size: 13px;
}
.widthstar{
    width: 15px;
}
.linkwithline {
    color: gray;
}

.garant {
    background-color: lightgrey;
    color: #4d4d4d;
    display: inline-block;
}
.ulstyle {
    padding: 0px;
}
.baseprice {
    border-color: darkgrey;
    border-left: 1px;
    border-right: 1px;
}
.pad7 {
    padding-left: 40px;
    margin: 0px;
    padding-top: 0px;
    font-size: 14px;
}
.cart {
    background-color: orangered;
    border-radius: 10px;
    border: 0px;
    margin-top: 15px;
}
.sizeotz{
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background-color: #ff6200;
    border: 0px;
}
.sell{
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background-color: orangered;
    font-size: 15px;
    color: white;
    margin: 6px;
}

.none {
    display: none;
}

.visual:hover  .none {
    display: block;
}

.bg-dark {
    color: white;
}
.email {
    background-color: #4d4d4d;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border-color: white;
    margin-left: 15px;
    margin-top: 25px;
}